/* General container for the booking page */
.book-ambulance-container {
  margin: 20px 10px 10px 50px;
  padding: 20px;
  background-color: #073057;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #fff;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  height: 50px;
  color: #fff;
  width: 150px;
  margin-top: 20px;
  margin-left: 20px
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
  margin-left: 10px;
}

.ambulance-list {
  margin-top: 30px;
}

.ambulance-list h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background-color: #e9ecef;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
