.ride-history-container {
    padding: 20px;
    margin: 10px 10px 10px 50px;
    background-color: #073057;
  }
  
  .filter-container {
    margin-bottom: 20px;
    color: #073057;
    display: flex; /* This keeps the label and select next to each other */
    align-items: center; /* Aligns the label and select vertically centered */
  }
  .content-container {
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #9fc1e4;
  }
  .ride-list {
    margin-top: 20px;
  }
  
  .list-group-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  }
  
  .list-group-item p {
    margin-bottom: 5px;
  }
  
  .details {
    margin-top: 10px;
  }
  
  p {
    margin: 0;
  }
  